# Proyecto Sprint 11

In [1]:
#Importamos las librerias necesarias 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [2]:
#Cargamos los datos
dt_0 = pd.read_csv('/datasets/geo_data_0.csv')
dt_1 = pd.read_csv('/datasets/geo_data_1.csv')
dt_2 = pd.read_csv('/datasets/geo_data_2.csv')

## Analisis de datos

### Primer dataset

-id — identificador único de pozo de petróleo

-f0, f1, f2 — tres características de los puntos

-product — volumen de reservas en el pozo de petróleo (miles de barriles).

In [3]:
dt_0

          id        f0        f1        f2     product
0      txEyH  0.705745 -0.497823  1.221170  105.280062
1      2acmU  1.334711 -0.340164  4.365080   73.037750
2      409Wp  1.022732  0.151990  1.419926   85.265647
3      iJLyR -0.032172  0.139033  2.978566  168.620776
4      Xdl7t  1.988431  0.155413  4.751769  154.036647
...      ...       ...       ...       ...         ...
99995  DLsed  0.971957  0.370953  6.075346  110.744026
99996  QKivN  1.392429 -0.382606  1.273912  122.346843
99997  3rnvd  1.029585  0.018787 -1.348308   64.375443
99998  7kl59  0.998163 -0.528582  1.583869   74.040764
99999  1CWhH  1.764754 -0.266417  5.722849  149.633246

[100000 rows x 5 columns]

In [4]:
dt_0.info()
dt_0.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

### Segundo dataset

In [5]:
dt_1

          id         f0         f1        f2     product
0      kBEdx -15.001348  -8.276000 -0.005876    3.179103
1      62mP7  14.272088  -3.475083  0.999183   26.953261
2      vyE1P   6.263187  -5.948386  5.001160  134.766305
3      KcrkZ -13.081196 -11.506057  4.999415  137.945408
4      AHL4O  12.702195  -8.147433  5.004363  134.766305
...      ...        ...        ...       ...         ...
99995  QywKC   9.535637  -6.878139  1.998296   53.906522
99996  ptvty -10.160631 -12.558096  5.005581  137.945408
99997  09gWa  -7.378891  -3.084104  4.998651  137.945408
99998  rqwUm   0.665714  -6.152593  1.000146   30.132364
99999  relB0  -3.426139  -7.794274 -0.003299    3.179103

[100000 rows x 5 columns]

In [6]:
dt_1.info()
dt_1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

### Tercer dataset

In [7]:
dt_2

          id        f0        f1        f2     product
0      fwXo0 -1.146987  0.963328 -0.828965   27.758673
1      WJtFt  0.262778  0.269839 -2.530187   56.069697
2      ovLUW  0.194587  0.289035 -5.586433   62.871910
3      q6cA6  2.236060 -0.553760  0.930038  114.572842
4      WPMUX -0.515993  1.716266  5.899011  149.600746
...      ...       ...       ...       ...         ...
99995  4GxBu -1.777037  1.125220  6.263374  172.327046
99996  YKFjq -1.261523 -0.894828  2.524545  138.748846
99997  tKPY3 -1.199934 -2.957637  5.219411  157.080080
99998  nmxp2 -2.419896  2.417221 -5.548444   51.795253
99999  V9kWn -2.551421 -2.025625  6.090891  102.775767

[100000 rows x 5 columns]

In [8]:
dt_2.info()
dt_2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

Verificamos que niguno de los datasets tiene valores ausentes y que el tipo de datos corresponde con la columna

# Dividir datos y entrenar el modelo

In [9]:
def train_and_evaluate(data, region_name):
    print(f"\n--- Procesando región {region_name} ---")

    # Separar características y objetivo
    target = data['product']
    features = data.drop(['product', 'id'], axis=1)

    # División del conjunto en entrenamiento y validación
    features_train, features_valid, target_train, target_valid = train_test_split(
        features, target, test_size=0.25, random_state=12345
    )

    # Entrenamiento del modelo de regresion linear 
    model = LinearRegression()
    model.fit(features_train, target_train)

    # Predicciones para validación
    predictions_valid = model.predict(features_valid)

    # Restablecer índices
    predictions_valid = pd.Series(predictions_valid, index=target_valid.index)
    target_valid = target_valid.reset_index(drop=True)
    predictions_valid = predictions_valid.reset_index(drop=True)

    # Evaluación del modelo
    rmse = np.sqrt(mean_squared_error(target_valid, predictions_valid))
    print(f"RMSE: {rmse}")
    print(f"Volumen medio real: {target_valid.mean()} miles de barriles") 
    print(f"Volumen medio predicho: {predictions_valid.mean()} miles de barriles")

    return model, predictions_valid, target_valid

# Ejecutar para las tres regiones
model_0, predictions_0, target_0 = train_and_evaluate(dt_0, "Región 0")
model_1, predictions_1, target_1 = train_and_evaluate(dt_1, "Región 1")
model_2, predictions_2, target_2 = train_and_evaluate(dt_2, "Región 2")

--- Procesando región Región 0 ---
RMSE: 37.5794217150813
Volumen medio real: 92.07859674082927 miles de barriles
Volumen medio predicho: 92.59256778438035 miles de barriles

--- Procesando región Región 1 ---
RMSE: 0.893099286775617
Volumen medio real: 68.72313602435997 miles de barriles
Volumen medio predicho: 68.728546895446 miles de barriles

--- Procesando región Región 2 ---
RMSE: 40.02970873393434
Volumen medio real: 94.88423280885438 miles de barriles
Volumen medio predicho: 94.96504596800489 miles de barriles

- En la region 0 , 1 y 2 el volumen medio predicho fue ligeramente superior al valor medio real.
- Las regiones 2 y 0 , son respectivamente las que tienen mayor volumen de barriles.

# Calculo de ganancias

In [10]:
# Variables globales
BARRIL_PRECIO = 4.5
INVERSIÓN = 1e8
POZOS_SELECCIONADOS = 200
VALOR_UMBRAL = INVERSIÓN / POZOS_SELECCIONADOS  # 500,000 dólares por pozo

In [11]:
# Función para calcular ganancias
def calculate_profit(predictions, target):
    # Seleccionar los 200 pozos con mayor predicción
    selected_indices = predictions.sort_values(ascending=False).head(POZOS_SELECCIONADOS).index
    selected_reserves = target[selected_indices]

    # Calcular ganancias
    total_profit = (selected_reserves.sum() * 1000 * BARRIL_PRECIO) - INVERSIÓN
    return total_profit
# Calcular ganancias para cada región
profit_0 = calculate_profit(pd.Series(predictions_0), target_0)
profit_1 = calculate_profit(pd.Series(predictions_1), target_1)
profit_2 = calculate_profit(pd.Series(predictions_2), target_2)

print('Ganancias estimadas para la Región 0:' , profit_0 ,  'USD')
print('Ganancias estimadas para la Región 1:' , profit_1 , 'USD')
print('Ganancias estimadas para la Región 2:' , profit_2 , 'USD')

Ganancias estimadas para la Región 0: 33208260.43139851 USD
Ganancias estimadas para la Región 1: 24150866.966815114 USD
Ganancias estimadas para la Región 2: 27103499.635998324 USD

-Las regiones con mayores ganancias respectivamente region 0, 2 y 1.

# Analisis de riesgos bootstrapping

In [12]:
def risk_analysis(predictions, target, n_bootstrap=1000):
    np.random.seed(12345)
    profits = []
    
    for _ in range(n_bootstrap):
        # Muestra aleatoria con reemplazo
        sample_indices = np.random.choice(predictions.index, size=len(predictions), replace=True)
        sample_predictions = predictions[sample_indices]
        sample_target = target[sample_indices]
        
        # Calcular ganancias
        profit = calculate_profit(pd.Series(sample_predictions), pd.Series(sample_target))
        profits.append(profit)
    
    # Métricas
    profits = np.array(profits)
    mean_profit = profits.mean()#Ganancia promedio
    lower_bound = np.percentile(profits, 0.5)## Límite inferior (IC 95%)
    upper_bound = np.percentile(profits, 95)#Limite superior(IC 95%)
    loss_risk = (profits < 0).mean() #Proporcion de muestras por ganancia
    
    return mean_profit, lower_bound, upper_bound, loss_risk

print("\n--- Análisis de riesgos ---")

# Lista de regiones con sus predicciones y valores reales
regions_data = [
    (pd.Series(predictions_0), target_0, "Región 0"),
    (pd.Series(predictions_1), target_1, "Región 1"),
    (pd.Series(predictions_2), target_2, "Región 2")
]

# Iterar sobre las regiones y realizar el análisis de riesgos
for predictions, target, region in regions_data:
    # Desempaquetar los valores retornados por risk_analysis
    mean_profit, lower_bound, upper_bound, loss_risk = risk_analysis(predictions, target)
    print(f"{region}: Ganancia promedio: {mean_profit:}, "
          f"Intervalo: ({lower_bound:}, {upper_bound:}), "
          f"Riesgo de pérdida: {loss_risk:.2%}")

--- Análisis de riesgos ---
Región 0: Ganancia promedio: 166582113.4700342, Intervalo: (126733276.04177809, 195955029.99475732), Riesgo de pérdida: 0.00%
Región 1: Ganancia promedio: 148068330.3037326, Intervalo: (113533283.63957366, 174373415.99666137), Riesgo de pérdida: 0.00%
Región 2: Ganancia promedio: 154336445.0383662, Intervalo: (117140157.94097625, 183210176.90893748), Riesgo de pérdida: 0.00%

- Ninguna de las regiones presenta riesgo de perdida.

- La region 0 presenta el intervalo mayor.

- Las regiones com mayores ganancia son respectivamente region 0, region 2 y region 1.

- La region 0 es la ideal para el desarrollo de pozos petroliferos, porque es la que presenta mayor ganancia y sin riesgo de perdida.